body {
  @media (min-width: 768px) {
    max-width: 500px;
    margin: 0 auto;
    background-color: var(--color-gray4);
    header.header,
    nav.nav {
      max-width: 500px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.hidden {
  display: none;
}

.bold {
  font-weight: 700;
}

.layout {
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--color-black);
  padding-top: 50px;
}

main {
  min-height: calc(100vh - 100px);
  background-color: var(--color-white);
}

.innerLayout {
  &.borderBottomThin {
    border-bottom: 1px solid var(--color-gray);
  }
  &.borderBottomBold {
    border-bottom: 3px solid var(--color-gray);
  }
  &.normal {
    padding: 32px 0px;
    margin: 0px 16px;
  }
  &.swiper {
    padding: 32px 0px 32px 16px;
    margin-left: 16px;
  }
  &.full {
    padding: 0px;
  }
}

.inputWrap {
  width: 100%;
  margin-bottom: 16px;
  label {
    display: block;
    margin-bottom: 4px;
  }
  input {
    height: 40px;
  }
  &.withSmallButton {
    .inputBox {
      display: flex;
      gap: 8px;
    }
    .flexColumn {
      flex-direction: column;
    }
  }
  .error {
    color: var(--color-red);
  }
  .bottomText {
    margin-top: 4px;
    text-align: right;
  }
}

.marginBottom16 {
  margin-bottom: 16px;
}

.marginBottom32 {
  margin-bottom: 32px;
}

// Header
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 16px;
  line-height: 50px;
  background-color: var(--color-white);
  z-index: 10;
  border-bottom: 1px solid var(--color-gray);
  h1 {
    display: flex;
    align-items: center;
    height: 50px;
  }
}

// Nav
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: var(--color-white);
  z-index: 10;
  border-top: 1px solid var(--color-gray);
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    li {
      display: flex;
      align-items: center;
      &.cart {
        position: relative;
        .cartItems {
          position: absolute;
          top: -10px;
          right: -10px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: var(--color-red);
          color: var(--color-white);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &.active {
        span {
          &.material-symbols-outlined {
            font-variation-settings:
              'FILL' 1,
              'wght' 400,
              'GRAD' 0,
              'opsz' 24;
          }
        }
      }
    }
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: var(--color-black);
    &.active {
      color: var(--color-black);
    }
  }
}

// Footer
.footer {
  background-color: var(--color-gray);
  padding: 32px 0 82px;
  text-align: center;
  img {
    margin-bottom: 16px;
  }
}

// Home
.categoryList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .swiper-slide {
    > div {
      width: 50px;
      height: 50px;
      border: 1px solid var(--color-gray);
      border-radius: 50%;
      overflow: hidden;
    }
  }
}

.bannerList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  .swiper-slide {
    > div {
      width: 100%;
      height: 200px;
      overflow: hidden;
    }
  }
}

.serviceList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  > div {
    display: flex;
    margin-bottom: 16px;
    position: relative;
    a {
      display: block;
      img {
        margin-bottom: 4px;
      }
    }
  }
  .likeButton {
    position: absolute;
    right: 0;
    span {
      color: var(--color-black);
    }
    &.liked {
      span.material-symbols-outlined {
        color: var(--color-red);
        font-variation-settings:
          'FILL' 1,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24;
      }
    }
  }
}

// Profile
.profileBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
  p {
    margin-bottom: 4px;
  }
  .imgWrap {
    position: relative;
    overflow: hidden;
    display: flex;

    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }
  .imgEdit {
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 50%;
    margin-bottom: 16px;
    label {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 20px;
      padding-top: 2px;
      text-align: center;
      font-size: 10px;
      line-height: 15px;
      letter-spacing: -0.2px;
      font-weight: 500;
      color: rgb(255, 255, 255);
      background-color: rgba(10, 17, 27, 0.5);
    }
  }
}

.profileList {
  li {
    padding: 16px 0 16px 16px;
    margin-bottom: 16px;
    border-left: 1px solid var(--color-gray);
  }
}

// Cart
.itemLists {
  margin-bottom: 32px;
  &.borderBottom {
    border-bottom: 3px solid var(--color-gray);
  }
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 32px;
    }
    > a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    div {
      display: flex;
      align-items: center;
      gap: 8px;
      p {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
  }
}
.fixedButton {
  position: fixed;
  bottom: 50px;
  right: 0;
  left: 0;
  button {
    border-radius: 0;
  }
  @media (min-width: 768px) {
    max-width: 500px;
    margin: 0 auto;
  }
}

.definitionList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  dl {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

label.checkBoxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

// 제품 상세 페이지
.modal {
  position: fixed;
  bottom: 0; /* 화면 하단에 위치 */
  left: 0;
  z-index: 100; /* 다른 요소들보다 위에 위치하도록 설정합니다. */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경을 반투명하게 어둡게 만듭니다. */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 200px;
  background-color: white;
  padding: 20px;
  border-radius: 10px 10px 0 0; /* 위쪽 모서리 둥글게 */
  > button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 100;
  button {
    width: 30%;
    border: 1px solid var(--color-gray);
  }
}

.buttonWrap {
  display: flex;
  gap: 8px;
}

.categoryDetailImage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .swiper-slide {
    > div {
      width: 100%;
      height: 300px;
      overflow: hidden;
    }
  }
}

.productInfo {
  p {
    &.h2 {
      margin-bottom: 4px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
