:root {
  // colors
  --color-white: #ffffff;
  --color-black: #26282b;
  --color-bg: #f8f8f8;
  --color-gray: #f2f2f2;
  --color-gray2: #e5e5e5;
  --color-gray3: #d9d9d9;
  --color-gray4: #cccccc;
  --color-gray5: #bfbfbf;
  --color-gray6: #b3b3b3;
  --color-blue: #007bff;
  --color-red: #dc3545;
  --color-green: #285943;
  --color-yellow: #ffc107;
  --color-orange: #fd7e14;
  --color-purple: #6f42c1;
  --color-pink: #e83e8c;

  //fonts
  --font-34: 34px;
  --font-28: 28px;
  --font-22: 22px;
  --font-20: 20px;
  --font-16: 16px;
  --font-14: 14px;
  --font-12: 12px;
}
